@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>
    Most people ask why cupcakes, well I attended a birthday party once and the guests (including myself) were not notified that the birthday boy was sick and not a little sick but a lot sick.
    As he blew out the candles on the cake he sneezed a little.
    Nothing odd, so I got a piece of cake from the farthest corner from him, ha ha.
    Well the next day I wasn't feeling to well, I called a few people from the party and come to find out they weren't feeling well either.
    After two days of sickness the host of the party sent out a mass text to all of us informing us of how sick her son was and that she was sorry if we had gotten sick from him sneezing on the cake.
    I was so furious and I haven't eaten cake at the party since.
    So not knowing where someone's hands have been before they cut you a slice of cake or fear of cootie contamination is why I started making cupcakes.
</p><p>
    I love nothing more than to watch someone bite down into one of my cupcakes and hear them say how good they are or to see a kids and adults face when I make a special cupcake just for them.
    To hear how someone feels about something I've created makes it all worth while.
</p><p>
    At Chichimommas we cater weddings, birthday parties, baby showers, or any other event you can throw at us.
    But you can also stop by on your lunch break or after work and pick a cuppycake up for just you!
</p><p>
    I can free style your cuppycake decorations to go with your theme of choice or we can sit down together and you can tell me precisely what you want and how you want it. I believe cupcakes are like snowflakes, no two are ever the same and no two parties or weddings or event will ever be the same.
</p>
