@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    <strong>Location:</strong><br />
    3275 Taylor Blvd<br />
    Louisville, KY 40218<br />
    <strong>Phone:</strong>
    502.509.9807
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>