@{
    ViewBag.Title = "Occassions";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Cuppycakes made special for all your occasions:<br />
    Work/Office Events<br />
    School Parties<br />
    Birthdays<br />
    Weddings<br />
    Anniversary’s<br />
    Christmas Parties<br />
    New Years Eve Events<br />
</p>

<p>
    Need a sweet treat delivered to the special one in your<br />
    on their birthday or just want to show someone you care with something different than flowers; call us & we'll deliver them a little bit of magic.
</p>

<p>
    <a href="Contact()">
        Contact us for more information and pricing.
    </a>
</p>